<style>
  label{
      line-height: 4px;
      margin-bottom: 5px;
      font-size: 11px;
  }
  input{
    font-size: 12px !important;
    height: 15px !important;
  }

</style>
<h3>New <% if current_user.nomination? %>Nominated<% else %>Free-hand<% end %> Booking</h3>

<%= render 'form' %>

<%= link_to 'Back', booking_orders_path %>
