<h3>
	Booking Order Details
	</h3>

<%= link_to 'All Bookings', booking_orders_path, :class => 'btn btn-success' %>

<%= link_to 'New Booking', new_booking_path,:class => 'btn btn-success' %>

<%= link_to 'Edit this Booking', edit_booking_path(@booking),:class => 'btn btn-success' %>
<br><br><br>
<%= render :partial => 'shared/booking_show' %>