<style type="text/css">
  .well{
    height:100px;
  }
  .stats-overview .display{
    margin-right: 12px;
  }
  .title a:hover{
    text-decoration: none;
    background-color: #fff;
  }
</style>

<h1>Booking Reports</h1>
<br>
<br>
<div class="row-fluid">
  <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
 
    <% @bo_reports.each do |bo_report| %>
      <tr>
        <td><%= link_to bo_report.name,bo_report%></td>
        <td><%= bo_report.try(:description) || "description" %></td>
      </tr>
    <% end %>
   </table>
</div>
<br/>
<br />


