<h4>Forgot your password?</h4>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
 

  <div> <p class="center">Enter your Email Id</p>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset instructions", :class => ["btn", "btn-success"]%></div>
<% end %>

<%= render "devise/shared/links" %>
