<style type="text/css">
  tr{
    width: 100px !important;
  }
</style>
<div class="pollo">
<br>
	<%= link_to "Add New Header", edit_booking_order_path(BookingOrder.first), :class => 'btn btn-warning' %>
</div>
<h3> Booking Order </h3>
<% head = BoReport.find(1).bo_report_fields.collect(&:magic_column) %>
<% @pretty_headers = head.collect(&:pretty_name) %>
<% @headers = head.collect(&:name) %>
<div class="container-fluid">
  <div class="widget-body">
    <div class="clearfix margin-bottom-10">
      <div class="btn-group">
         <a href=<%= new_booking_path %> class="btn btn-success", total = "<%= @headers.count %>">
         Add New <i class="icon-plus"></i>
         </a>
      </div>

    </div>
	</div>
</div>

