<html>
<head>
</head>
<body>
  <%= render :partial => 'mailers/mile_stone_emailer', :locals => {:emailer => @emailer} %>
  <% @booking.booking_emailers.order('id desc').each_with_index do |be,i| %>
  	<% if i > 0 %>
  		<hr>
  		<%= render :partial => 'mailers/mile_stone_emailer', :locals => {:emailer => be.emailer} %>
  	<% end %>
  <% end %>
</body>
</html>