<center>
<table bgcolor="#71a1f0" border="0" cellpadding="0" cellspacing="10" height="40" style="font-family:arial,helvetica,sans-serif;margin:0 4px" width="588">
<tbody>
<tr>
<td style="min-height:40px;font-size:24px;line-height:24px;font-weight:bold;color:#ffffff">LOVE, SEX & MARRIAGE</td>
<td align="right" style="padding-right:3px">
</td>
</tr>
</tbody>
</table>
</center>
<center>
<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="10" style="font-family:arial,helvetica,sans-serif;margin:4px;min-height:300px;border:1px solid #ccc" width="588">
<tbody>
<tr>
<% cities = ["Mumbai","Pune","New Delhi","Visakhapatnam","Hyderabad","Bangalore","Chennai","Coimbatore","Tiruchirappalli","Tirunelveli","Erode","Madurai","Salem","Thoothukudi","Ooty","Nagercoil","Vellore","Tirupur"] %>

<td style="vertical-align:top;line-height:19px;font-size:12px;min-height:40px;" valign="top">
Dear <b><%= @order.name %></b><br />
<br/>
Greetings from JBC. Thank you very much for your interest in this DVD. We are glad to inform you that this Youth Special DVD <b>"LOVE, SEX & MARRIAGE"</b> will be released on July 28th. 
<br/>
<br/>
The cost of this DVD is <b>INR 75</b> and courier Charges INR 20 (for 3 dvds).
<br/>
<br/>
Also You can get this DVD in major christian book stores in the following cities
<div style ="margin-left:20px;">
	<% cities.each_with_index do |city,i| %>
			<% if i != 0 %>
			,
			<% end %>
			<% if city == @order.city %>
				<b><%= city %></b>
			<% else %>
				<%= city %>
			<% end %>

	<% end %>
</div>
<br/>
If you are Comfortable in getting this dvd in a christian book store, You are welcome to do so. In that Case intimate us to Cancel your Order.
<br/>
<br/>
We request you to introduce this DVD to your friends, Churches and known prayer groups.
<br/>
We have attached our bank details for your reference. <b>Please do revert us once you make the payment.</b>

<br>
<br/>
Please keep in touch with us in. www.facebook.com/jbcdvd
<br>
<br/>
Let's encourage one another to lead a victorious life.
<br>
<br/>
Cheers!
<br>
<br/>
JBC Team
<br>
<br/>


</div>
</td>
</tr>

</tbody>
</table>
</center>



<center>
<table border="0" cellpadding="0" cellspacing="10" height="25" style="font-family:arial,helvetica,sans-serif;margin:2px" width="590">
<tr>
<td style='width:100px;'>Tel</td><td>0091 421 4333401</td>
</tr><tr>
<td style='width:100px;'>Mobile</td>       <td>0091 90037 05181</td>
</tr><tr>
<td style='width:100px;'>Email</td>     <td>jbc@jbcword.com</td>
</tr><tr>
<td style='width:100px;'>Facebook</td>   <td>www.facebook.com/jbcdvd</td>
</tr><tr>
<td style='width:100px;'>You tube</td>    <td>www.youtube.com/jbcdvd</td>
</tr><tr>
<td style='width:100px;'>Website</td>  <td>www.jbcword.com</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="10" height="25" style="font-family:arial,helvetica,sans-serif;margin:2px" width="590">
<tbody>
<tr>
<td align="center" style="font-size:11px;line-height:13px">© 2013. Jesus Bible Centre</td>
</tr>
</tbody>
</table>
</center>