<table class='table table-bordered table-hover'>
  
    <% SalesCallEnquiry.get_column_names.each do |cn| %>
      <tr>
        <td><%= cn.titlecase %></td>
        <td><%= @sales_enquiry[cn]%></td>
      </tr>
    <% end %>
</table>