<center>
<table bgcolor="#71a1f0" border="0" cellpadding="0" cellspacing="10" height="40" style="font-family:arial,helvetica,sans-serif;margin:0 4px" width="588">
<tbody>
<tr>
<td style="min-height:40px;font-size:24px;line-height:24px;font-weight:bold;color:#ffffff">LOVE, SEX & MARRIAGE</td>
<td align="right" style="padding-right:3px">
</td>
</tr>
</tbody>
</table>
</center>
<center>
<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="10" style="font-family:arial,helvetica,sans-serif;margin:4px;min-height:300px;border:1px solid #ccc" width="588">
<tbody>
<tr>
<td style="vertical-align:top;line-height:19px;font-size:12px;min-height:40px;" valign="top">
Dear <b><%= @order.name %></b><br />
<br/>
Greetings from JBC. Thank you very much for your interest in this DVD. We praise the Lord for the responses from young people. We are on the process of reaching Indian stores now. We are keen on arranging International hubs in order to save the air mail/ overseas courier charges. So kindly allow us to take some more time to arrange. We are working to make this dvd available to you at the earliest.
<br/>
<br/>
We request you to introduce this DVD to your friends, Churches and known prayer groups.
<br/>
<br/>
Please keep in touch with us in. www.facebook.com/jbcdvd
<br>
<br/>
Let's encourage one another to lead a victorious life.
<br>
<br/>
Cheers!
<br>
<br/>
JBC Team
<br>
<br/>


</div>
</td>
</tr>

</tbody>
</table>
</center>



<center>
<table border="0" cellpadding="0" cellspacing="10" height="25" style="font-family:arial,helvetica,sans-serif;margin:2px" width="590">
<tr>
<td style='width:100px;'>Tel</td><td>0091 421 4333401</td>
</tr><tr>
<td style='width:100px;'>Mobile</td>       <td>0091 90037 05181</td>
</tr><tr>
<td style='width:100px;'>Email</td>     <td>jbc@jbcword.com</td>
</tr><tr>
<td style='width:100px;'>Facebook</td>   <td>www.facebook.com/jbcdvd</td>
</tr><tr>
<td style='width:100px;'>You tube</td>    <td>www.youtube.com/jbcdvd</td>
</tr><tr>
<td style='width:100px;'>Website</td>  <td>www.jbcword.com</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="10" height="25" style="font-family:arial,helvetica,sans-serif;margin:2px" width="590">
<tbody>
<tr>
<td align="center" style="font-size:11px;line-height:13px">© 2013. Jesus Bible Centre</td>
</tr>
</tbody>
</table>
</center>