<html>
<head>
</head>
<body>
  
  <%= "If you want to send the below email to customer(#{@booking.customer.email}). click" %>
  <b><%= link_to 'Here', "http://www.jseuroexim.com/send_email_to_customer?id=#{@be.id}" %></b>
  <hr>
  <br>
  <%= render :partial => 'mailers/mile_stone_emailer' %>
</body>
</html>